.zoomable {
  position: relative !important;
  overflow: hidden !important;
  /* border-radius: 30px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2); */
}
.zoomable__img {
  transform-origin: var(--zoom-pos-x, 0%) var(--zoom-pos-y, 0%) !important;
  transition: transform 0.15s linear !important;
}
.zoomable__zoomed .zoomable__img {
  transform: scale(var(--zoom, 2)) !important;
}
